In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_excel("wrangling.xlsx")
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,NaN,NaN,NaN,NaN,NaN,NaN,101,NaN,NaN,NaT
31,NaN,NaN,NaN,NaN,NaN,NaN,101,NaN,NaN,NaT

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     30 non-null     object
 1   Age      30 non-null     float64
 2   Grade    30 non-null     object
 3   Class    30 non-null     float64
 4   Subject  30 non-null     object
 5   Marks    30 non-null     float64
 6   Roll No  32 non-null     int64
 7   Percent  30 non-null     float64
 8   City     30 non-null     object
 9   Bday     30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 2.6+ KB

In [4]:
df.isnull().sum()

Name       2
Age        2
Grade      2
Class      2
Subject    2
Marks      2
Roll No    0
Percent    2
City       2
Bday       2
dtype: int64

In [5]:
df.Age.fillna(df['Age'].mean())

0     14.0
1     15.0
2     13.0
3     14.0
4     15.0
5     14.0
6     13.0
7     15.0
8     13.0
9     14.0
10    14.0
11    15.0
12    13.0
13    14.0
14    15.0
15    14.0
16    13.0
17    15.0
18    14.0
19    13.0
20    15.0
21    14.0
22    13.0
23    14.0
24    15.0
25    13.0
26    14.0
27    15.0
28    13.0
29    14.0
30    14.0
31    14.0
Name: Age, dtype: float64

In [6]:
df.isnull().sum()

Name       2
Age        2
Grade      2
Class      2
Subject    2
Marks      2
Roll No    0
Percent    2
City       2
Bday       2
dtype: int64

In [8]:
df.Age.unique()

array([14., 15., 13., nan])

In [9]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

C:\Users\SURAJ CHOUGULE\AppData\Local\Temp\ipykernel_25064\694922604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [10]:
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,NaN,14.0,NaN,NaN,NaN,NaN,101,NaN,NaN,NaT
31,NaN,14.0,NaN,NaN,NaN,NaN,101,NaN,NaN,NaT

In [11]:
df.isnull().sum()

Name       2
Age        0
Grade      2
Class      2
Subject    2
Marks      2
Roll No    0
Percent    2
City       2
Bday       2
dtype: int64

In [12]:
df.Name.unique()

array(['Aarya Singh', 'Rohan Mehta', 'Tanvi Desai', 'Aryan Joshi',
       'Neha Patil', 'Karan Shah', 'Sneha Rao', 'Varun Nair',
       'Priya Kulkarni', 'Rahul Yadav', 'Meera Iyer', 'Siddharth G',
       'Aisha Khan', 'Parth Deshmukh', 'Kavya Jain', 'Yash Pawar',
       'Ananya Reddy', 'Tushar Jadhav', 'Ishita Modi', 'Arjun Bhat',
       'Snehal Khedekar', 'Krish Gupta', 'Riya Salunke', 'Pranav Desai',
       'Sanya Lokhande', 'Omkar Shinde', 'Disha More', 'Viraj Kadam',
       'Shruti Gokhale', 'Atharv Naik', nan], dtype=object)

In [15]:
df['Marks'].fillna(df['Marks'].mean(),inplace=True)

C:\Users\SURAJ CHOUGULE\AppData\Local\Temp\ipykernel_25064\3876461913.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(df['Marks'].mean(),inplace=True)

In [16]:
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,NaN,14.0,NaN,NaN,NaN,92.0,101,NaN,NaN,NaT
31,NaN,14.0,NaN,NaN,NaN,92.0,101,NaN,NaN,NaT

In [17]:
df['Class'].fillna(df['Class'].mean(),inplace=True)

C:\Users\SURAJ CHOUGULE\AppData\Local\Temp\ipykernel_25064\4133028289.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Class'].fillna(df['Class'].mean(),inplace=True)

In [18]:
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,NaN,14.0,NaN,9.0,NaN,92.0,101,NaN,NaN,NaT
31,NaN,14.0,NaN,9.0,NaN,92.0,101,NaN,NaN,NaT

In [19]:
df.isnull().sum()

Name       2
Age        0
Grade      2
Class      0
Subject    2
Marks      0
Roll No    0
Percent    2
City       2
Bday       2
dtype: int64

In [21]:
df['Subject'].fillna(df['Subject'].mode()[0],inplace=True)
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,NaN,14.0,NaN,9.0,English,92.0,101,NaN,NaN,NaT
31,NaN,14.0,NaN,9.0,English,92.0,101,NaN,NaN,NaT

In [22]:
df['Name'].fillna(df['Name'].mode()[0],inplace=True)
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,Aarya Singh,14.0,NaN,9.0,English,92.0,101,NaN,NaN,NaT
31,Aarya Singh,14.0,NaN,9.0,English,92.0,101,NaN,NaN,NaT

In [23]:
df['Grade'].fillna(df['Grade'].mode()[0],inplace=True)
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,Aarya Singh,14.0,A,9.0,English,92.0,101,NaN,NaN,NaT
31,Aarya Singh,14.0,A,9.0,English,92.0,101,NaN,NaN,NaT

In [25]:
df['Percent'].fillna(df['Percent'].mean(),inplace=True)
df

C:\Users\SURAJ CHOUGULE\AppData\Local\Temp\ipykernel_25064\2283113690.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Percent'].fillna(df['Percent'].mean(),inplace=True)

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,NaN,NaT
31,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,NaN,NaT

In [26]:
df['City'].fillna(df['City'].mode()[0],inplace=True)
df

C:\Users\SURAJ CHOUGULE\AppData\Local\Temp\ipykernel_25064\1421383191.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0],inplace=True)

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11
30,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,Pune,NaT
31,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,Pune,NaT

In [27]:
df['Bday'].fillna(df['Bday'].mean(),inplace=True)
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15 00:00:00
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20 00:00:00
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04 00:00:00
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10 00:00:00
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23 00:00:00
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12 00:00:00
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08 00:00:00
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19 00:00:00
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06 00:00:00
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30 00:00:00
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17 00:00:00
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25 00:00:00
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11 00:00:00
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03 00:00:00
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09 00:00:00
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01 00:00:00
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26 00:00:00
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15 00:00:00
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22 00:00:00
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05 00:00:00
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28 00:00:00
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18 00:00:00
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01 00:00:00
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20 00:00:00
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08 00:00:00
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15 00:00:00
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02 00:00:00
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30 00:00:00
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17 00:00:00
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11 00:00:00
30,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-07-02 20:00:00
31,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-07-02 20:00:00

In [28]:
df.isnull().sum()

Name       0
Age        0
Grade      0
Class      0
Subject    0
Marks      0
Roll No    0
Percent    0
City       0
Bday       0
dtype: int64

# now remove duplicate values
# false represents that the duplicates are present and true represents that duplicates are not present

In [29]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31     True
dtype: bool

In [30]:
df.drop_duplicates()

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,Science,92.0,101,0.92,Pune,2010-03-15 00:00:00
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20 00:00:00
2,Tanvi Desai,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-11-04 00:00:00
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10 00:00:00
4,Neha Patil,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-07-23 00:00:00
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12 00:00:00
6,Sneha Rao,13.0,A,8.0,English,92.0,101,0.92,Aurangabad,2011-04-08 00:00:00
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19 00:00:00
8,Priya Kulkarni,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-06-06 00:00:00
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30 00:00:00
10,Meera Iyer,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-02-17 00:00:00
11,Siddharth G,15.0,A,10.0,Science,92.0,101,0.92,Nashik,2009-09-25 00:00:00
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11 00:00:00
13,Parth Deshmukh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-05-03 00:00:00
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09 00:00:00
15,Yash Pawar,14.0,A,9.0,Science,92.0,101,0.92,Kolhapur,2010-07-01 00:00:00
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26 00:00:00
17,Tushar Jadhav,15.0,A,10.0,English,92.0,101,0.92,Solapur,2009-06-15 00:00:00
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22 00:00:00
19,Arjun Bhat,13.0,A,8.0,Science,92.0,101,0.92,Mumbai,2011-09-05 00:00:00
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28 00:00:00
21,Krish Gupta,14.0,A,9.0,English,92.0,101,0.92,Nagpur,2010-04-18 00:00:00
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01 00:00:00
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20 00:00:00
24,Sanya Lokhande,15.0,A,10.0,English,92.0,101,0.92,Mumbai,2009-08-08 00:00:00
25,Omkar Shinde,13.0,A,8.0,Science,92.0,101,0.92,Pune,2011-10-15 00:00:00
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02 00:00:00
27,Viraj Kadam,15.0,A,10.0,Science,92.0,101,0.92,Solapur,2009-05-30 00:00:00
28,Shruti Gokhale,13.0,A,8.0,English,92.0,101,0.92,Nashik,2011-07-17 00:00:00
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11 00:00:00
30,Aarya Singh,14.0,A,9.0,English,92.0,101,0.92,Pune,2010-07-02 20:00:00

# now perform data normalization

In [31]:
df.Subject.unique()

array(['Science', 'Maths', 'English', 'History'], dtype=object)

In [33]:
df['Subject'].replace({'Science':'sci','English':'Eng'},inplace=True)
df

,Name,Age,Grade,Class,Subject,Marks,Roll No,Percent,City,Bday
0,Aarya Singh,14.0,A,9.0,sci,92.0,101,0.92,Pune,2010-03-15 00:00:00
1,Rohan Mehta,15.0,A,10.0,Maths,92.0,101,0.92,Mumbai,2009-05-20 00:00:00
2,Tanvi Desai,13.0,A,8.0,Eng,92.0,101,0.92,Nashik,2011-11-04 00:00:00
3,Aryan Joshi,14.0,A,9.0,History,92.0,101,0.92,Nagpur,2010-01-10 00:00:00
4,Neha Patil,15.0,A,10.0,sci,92.0,101,0.92,Solapur,2009-07-23 00:00:00
5,Karan Shah,14.0,A,9.0,Maths,92.0,101,0.92,Thane,2010-10-12 00:00:00
6,Sneha Rao,13.0,A,8.0,Eng,92.0,101,0.92,Aurangabad,2011-04-08 00:00:00
7,Varun Nair,15.0,A,10.0,History,92.0,101,0.92,Kolhapur,2009-12-19 00:00:00
8,Priya Kulkarni,13.0,A,8.0,sci,92.0,101,0.92,Pune,2011-06-06 00:00:00
9,Rahul Yadav,14.0,A,9.0,Maths,92.0,101,0.92,Mumbai,2010-08-30 00:00:00
10,Meera Iyer,14.0,A,9.0,Eng,92.0,101,0.92,Nagpur,2010-02-17 00:00:00
11,Siddharth G,15.0,A,10.0,sci,92.0,101,0.92,Nashik,2009-09-25 00:00:00
12,Aisha Khan,13.0,A,8.0,History,92.0,101,0.92,Mumbai,2011-03-11 00:00:00
13,Parth Deshmukh,14.0,A,9.0,Eng,92.0,101,0.92,Pune,2010-05-03 00:00:00
14,Kavya Jain,15.0,A,10.0,Maths,92.0,101,0.92,Aurangabad,2009-11-09 00:00:00
15,Yash Pawar,14.0,A,9.0,sci,92.0,101,0.92,Kolhapur,2010-07-01 00:00:00
16,Ananya Reddy,13.0,A,8.0,History,92.0,101,0.92,Thane,2011-01-26 00:00:00
17,Tushar Jadhav,15.0,A,10.0,Eng,92.0,101,0.92,Solapur,2009-06-15 00:00:00
18,Ishita Modi,14.0,A,9.0,Maths,92.0,101,0.92,Pune,2010-03-22 00:00:00
19,Arjun Bhat,13.0,A,8.0,sci,92.0,101,0.92,Mumbai,2011-09-05 00:00:00
20,Snehal Khedekar,15.0,A,10.0,History,92.0,101,0.92,Nashik,2009-10-28 00:00:00
21,Krish Gupta,14.0,A,9.0,Eng,92.0,101,0.92,Nagpur,2010-04-18 00:00:00
22,Riya Salunke,13.0,A,8.0,Maths,92.0,101,0.92,Aurangabad,2011-12-01 00:00:00
23,Pranav Desai,14.0,A,9.0,History,92.0,101,0.92,Kolhapur,2010-06-20 00:00:00
24,Sanya Lokhande,15.0,A,10.0,Eng,92.0,101,0.92,Mumbai,2009-08-08 00:00:00
25,Omkar Shinde,13.0,A,8.0,sci,92.0,101,0.92,Pune,2011-10-15 00:00:00
26,Disha More,14.0,A,9.0,Maths,92.0,101,0.92,Nagpur,2010-02-02 00:00:00
27,Viraj Kadam,15.0,A,10.0,sci,92.0,101,0.92,Solapur,2009-05-30 00:00:00
28,Shruti Gokhale,13.0,A,8.0,Eng,92.0,101,0.92,Nashik,2011-07-17 00:00:00
29,Atharv Naik,14.0,A,9.0,History,92.0,101,0.92,Pune,2010-11-11 00:00:00
30,Aarya Singh,14.0,A,9.0,Eng,92.0,101,0.92,Pune,2010-07-02 20:00:00
31,Aarya Singh,14.0,A,9.0,Eng,92.0,101,0.92,Pune,2010-07-02 20:00:00