In [1]:
import pandas as pd

In [4]:
pd.read_excel("pd.xlsx")

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development

In [5]:
df=pd.read_excel("pd.xlsx")
df

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development

In [6]:
df.head()

        Name   Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi      Pune   20           55          160    Computer Graphics
1         Om    Nashik   21           68          172    Operating Systems
2      Suraj    Nagpur   22           70          178    Computer Networks
3   Abhishek    Mumbai   23           75          180  Database Management
4   Shrishee  Kolhapur   20           52          158          Mathematics

In [7]:
df.tail()

       Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
1        Om      Nashik   21           68          172    Operating Systems
2     Suraj      Nagpur   22           70          178    Computer Networks
3  Abhishek      Mumbai   23           75          180  Database Management
4  Shrishee    Kolhapur   20           52          158          Mathematics
5    Shreya  Aurangabad   21           54          162      Web Development

In [8]:
df

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development

In [9]:
df.describe

<bound method NDFrame.describe of         Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development>

In [10]:
df.info

<bound method DataFrame.info of         Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development>

In [11]:
df.sort_index(ascending=True)

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development

In [12]:
df.sort_index(ascending=False)

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
5     Shreya  Aurangabad   21           54          162      Web Development
4   Shrishee    Kolhapur   20           52          158          Mathematics
3   Abhishek      Mumbai   23           75          180  Database Management
2      Suraj      Nagpur   22           70          178    Computer Networks
1         Om      Nashik   21           68          172    Operating Systems
0  Vaishnavi        Pune   20           55          160    Computer Graphics

In [13]:
df.shape

(6, 6)

In [14]:
df.T

,0,1,2,3,4,5
Name,Vaishnavi,Om,Suraj,Abhishek,Shrishee,Shreya
Address,Pune,Nashik,Nagpur,Mumbai,Kolhapur,Aurangabad
Age,20,21,22,23,20,21
Weight (kg),55,68,70,75,52,54
Height (cm),160,172,178,180,158,162
Favorite Subject,Computer Graphics,Operating Systems,Computer Networks,Database Management,Mathematics,Web Development

In [15]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
df.dtypes

Name                object
Address             object
Age                  int64
Weight (kg)          int64
Height (cm)          int64
Favorite Subject    object
dtype: object

In [17]:
df.sort_index()

        Name     Address  Age  Weight (kg)  Height (cm)     Favorite Subject
0  Vaishnavi        Pune   20           55          160    Computer Graphics
1         Om      Nashik   21           68          172    Operating Systems
2      Suraj      Nagpur   22           70          178    Computer Networks
3   Abhishek      Mumbai   23           75          180  Database Management
4   Shrishee    Kolhapur   20           52          158          Mathematics
5     Shreya  Aurangabad   21           54          162      Web Development

In [21]:
import pandas as pd
pd.__version__
print(pd.__version__)

2.3.0

In [22]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 2cc37625532045f4ac55b27176454bbbc9baf213
python                : 3.12.2
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : AMD64 Family 23 Model 160 Stepping 0, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_India.1252

pandas                : 2.3.0
numpy                 : 2.1.3
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.0.1
Cython                : None
sphinx                : None
IPython               : 9.3.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.13.3
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2025.3.0
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.6
lxml.etree            : None
matplotlib            : 3.10.3
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : 8.3.5
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.15.3
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

In [23]:
pd.DataFrame({'col A':[1,2,3,4,5],'col B':[6,7,8,9,12]})

   col A  col B
0      1      6
1      2      7
2      3      8
3      4      9
4      5     12

In [24]:
data_table=pd.DataFrame({'col A':[1,2,3,4,5],'col B':[6,7,8,9,12]})
print(data_table)

   col A  col B
0      1      6
1      2      7
2      3      8
3      4      9
4      5     12

In [25]:
data_table=pd.DataFrame({'col A':[1,2,3,4,5],'col B':[6,7,8,9,12]})
pd.DataFrame(data_table)

   col A  col B
0      1      6
1      2      7
2      3      8
3      4      9
4      5     12

In [26]:
data_table.describe

<bound method NDFrame.describe of    col A  col B
0      1      6
1      2      7
2      3      8
3      4      9
4      5     12>

In [27]:
data_table.shape

(5, 2)

In [28]:
#learning seaborn library
#syntax:
#    sns.load_dataset("titanic")

import seaborn as sns
import pandas as pd
import Numpy as np

In [30]:
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [32]:
import numpy as np
import pandas as pd

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns

In [37]:
df = sns.load_dataset("titanic")

In [38]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [39]:
df.head(300)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
296,0,3,male,23.5,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
297,0,1,female,2.0,1,2,151.5500,S,First,child,False,C,Southampton,no,False
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True
299,1,1,female,50.0,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False

In [40]:
print(df.head(300))

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
0           0       3    male  22.0      1      0    7.2500        S  Third
1           1       1  female  38.0      1      0   71.2833        C  First
2           1       3  female  26.0      0      0    7.9250        S  Third
3           1       1  female  35.0      1      0   53.1000        S  First
4           0       3    male  35.0      0      0    8.0500        S  Third
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
295         0       1    male   NaN      0      0   27.7208        C  First
296         0       3    male  23.5      0      0    7.2292        C  Third
297         0       1  female   2.0      1      2  151.5500        S  First
298         1       1    male   NaN      0      0   30.5000        S  First
299         1       1  female  50.0      0      1  247.5208        C  First

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
295    man        True  NaN    Cherbourg    no   True
296    man        True  NaN    Cherbourg    no   True
297  child       False    C  Southampton    no  False
298    man        True    C  Southampton   yes   True
299  woman       False    B    Cherbourg   yes  False

[300 rows x 15 columns]

In [41]:
pd.set_option('display.max_rows', 1000)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [42]:
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [43]:
df.adult_male

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7      False
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16     False
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
30      True
31     False
32     False
33      True
34      True
35      True
36      True
37      True
38     False
39     False
40     False
41     False
42      True
43     False
44     False
45      True
46      True
47     False
48      True
49     False
50     False
51      True
52     False
53     False
54      True
55      True
56     False
57      True
58     False
59     False
60      True
61     False
62      True
63     False
64      True
65      True
66     False
67      True
68     False
69      True
70      True
71     False
72      True
73      True
74      True
75      True
76      True
77      True
78     False
79     False
80      True
81      True
82     False
83      True
84     False
85     False
86      True
87      True
88     False
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96      True
97      True
98     False
99      True
100    False
101     True
102     True
103     True
104     True
105     True
106    False
107     True
108     True
109    False
110     True
111    False
112     True
113    False
114    False
115     True
116     True
117     True
118     True
119    False
120     True
121     True
122     True
123    False
124     True
125    False
126     True
127     True
128    False
129     True
130     True
131     True
132    False
133    False
134     True
135     True
136    False
137     True
138     True
139     True
140    False
141    False
142    False
143     True
144     True
145     True
146     True
147    False
148     True
149     True
150     True
151    False
152     True
153     True
154     True
155     True
156    False
157     True
158     True
159     True
160     True
161    False
162     True
163     True
164    False
165    False
166    False
167    False
168     True
169     True
170     True
171    False
172    False
173     True
174     True
175     True
176     True
177    False
178     True
179     True
180    False
181     True
182    False
183    False
184    False
185     True
186    False
187     True
188     True
189     True
190    False
191     True
192    False
193    False
194    False
195    False
196     True
197     True
198    False
199    False
200     True
201     True
202     True
203     True
204     True
205    False
206     True
207     True
208    False
209     True
210     True
211    False
212     True
213     True
214     True
215    False
216    False
217     True
218    False
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228     True
229    False
230    False
231     True
232     True
233    False
234     True
235    False
236     True
237    False
238     True
239     True
240    False
241    False
242     True
243     True
244     True
245     True
246    False
247    False
248     True
249     True
250     True
251    False
252     True
253     True
254    False
255    False
256    False
257    False
258    False
259    False
260     True
261    False
262     True
263     True
264    False
265     True
266     True
267     True
268    False
269    False
270     True
271     True
272    False
273     True
274    False
275    False
276    False
277     True
278    False
279    False
280     True
281     True
282     True
283     True
284     True
285     True
286     True
287     True
288     True
289    False
290    False
291    False
292     True
293    False
294     True
295     True
296     True
297    False
298     True
299    False
300    False
301     True
302     True
303    False
304     True
305    False
306    False
307    False
308     True
309    False
310    False
311    False
312    False
313     True
314     True
315    False
316    False
317     True
318    False
319    False
320     True
321     True
322    False
323    False
324     True
325    False
326     True
327    False
328    False
329    False
330    False
331     True
332     True
333     True
334    False
335     True
336     True
337    False
338     True
339     True
340    False
341    False
342     True
343     True
344     True
345    False
346    False
347    False
348    False
349     True
350     True
351     True
352    False
353     True
354     True
355     True
356    False
357    False
358    False
359    False
360     True
361     True
362    False
363     True
364     True
365     True
366    False
367    False
368    False
369    False
370     True
371     True
372     True
373     True
374    False
375    False
376    False
377     True
378     True
379     True
380    False
381    False
382     True
383    False
384     True
385     True
386    False
387    False
388     True
389    False
390     True
391     True
392     True
393    False
394    False
395     True
396    False
397     True
398     True
399    False
400     True
401     True
402    False
403     True
404    False
405     True
406     True
407    False
408     True
409    False
410     True
411     True
412    False
413     True
414     True
415    False
416    False
417    False
418     True
419    False
420     True
421     True
422     True
423    False
424     True
425     True
426    False
427    False
428     True
429     True
430     True
431    False
432    False
433     True
434     True
435    False
436    False
437    False
438     True
439     True
440    False
441     True
442     True
443    False
444     True
445    False
446    False
447     True
448    False
449     True
450     True
451     True
452     True
453     True
454     True
455     True
456     True
457    False
458    False
459     True
460     True
461     True
462     True
463     True
464     True
465     True
466     True
467     True
468     True
469    False
470     True
471     True
472    False
473    False
474    False
475     True
476     True
477     True
478     True
479    False
480    False
481     True
482     True
483    False
484     True
485    False
486    False
487     True
488     True
489    False
490     True
491     True
492     True
493     True
494     True
495     True
496    False
497     True
498    False
499     True
500     True
501    False
502    False
503    False
504    False
505     True
506    False
507     True
508     True
509     True
510     True
511     True
512     True
513    False
514     True
515     True
516    False
517     True
518    False
519     True
520    False
521     True
522     True
523    False
524     True
525     True
526    False
527     True
528     True
529     True
530    False
531     True
532     True
533    False
534    False
535    False
536     True
537    False
538     True
539    False
540    False
541    False
542    False
543     True
544     True
545     True
546    False
547     True
548     True
549    False
550     True
551     True
552     True
553     True
554    False
555     True
556    False
557     True
558    False
559    False
560     True
561     True
562     True
563     True
564    False
565     True
566     True
567    False
568     True
569     True
570     True
571    False
572     True
573    False
574     True
575     True
576    False
577    False
578    False
579     True
580    False
581    False
582     True
583     True
584     True
585    False
586     True
587     True
588     True
589     True
590     True
591    False
592     True
593    False
594     True
595     True
596    False
597     True
598     True
599     True
600    False
601     True
602     True
603     True
604     True
605     True
606     True
607     True
608    False
609    False
610    False
611     True
612    False
613     True
614     True
615    False
616     True
617    False
618    False
619     True
620     True
621     True
622     True
623     True
624     True
625     True
626     True
627    False
628     True
629     True
630     True
631     True
632     True
633     True
634    False
635    False
636     True
637     True
638    False
639     True
640     True
641    False
642    False
643     True
644    False
645     True
646     True
647     True
648     True
649    False
650     True
651    False
652     True
653    False
654    False
655     True
656     True
657    False
658     True
659     True
660     True
661     True
662     True
663     True
664     True
665     True
666     True
667     True
668     True
669    False
670    False
671     True
672     True
673     True
674     True
675     True
676     True
677    False
678    False
679     True
680    False
681     True
682     True
683    False
684     True
685     True
686    False
687     True
688     True
689    False
690     True
691    False
692     True
693     True
694     True
695     True
696     True
697    False
698     True
699     True
700    False
701     True
702    False
703     True
704     True
705     True
706    False
707     True
708    False
709     True
710    False
711     True
712     True
713     True
714     True
715     True
716    False
717    False
718     True
719     True
720    False
721     True
722     True
723     True
724     True
725     True
726    False
727    False
728     True
729    False
730    False
731    False
732     True
733     True
734     True
735     True
736    False
737     True
738     True
739     True
740     True
741     True
742    False
743     True
744     True
745     True
746     True
747    False
748     True
749     True
750    False
751    False
752     True
753     True
754    False
755    False
756     True
757     True
758     True
759    False
760     True
761     True
762     True
763    False
764     True
765    False
766     True
767    False
768     True
769     True
770     True
771     True
772    False
773     True
774    False
775     True
776     True
777    False
778     True
779    False
780    False
781    False
782     True
783     True
784     True
785     True
786    False
787    False
788    False
789     True
790     True
791     True
792    False
793     True
794     True
795     True
796    False
797    False
798     True
799    False
800     True
801    False
802    False
803    False
804     True
805     True
806     True
807    False
808     True
809    False
810     True
811     True
812     True
813    False
814     True
815     True
816    False
817     True
818     True
819    False
820    False
821     True
822     True
823    False
824    False
825     True
826     True
827    False
828     True
829    False
830    False
831    False
832     True
833     True
834     True
835    False
836     True
837     True
838     True
839     True
840     True
841     True
842    False
843     True
844     True
845     True
846     True
847     True
848     True
849    False
850    False
851     True
852    False
853    False
854    False
855    False
856    False
857     True
858    False
859     True
860     True
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869    False
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: adult_male, dtype: bool

In [44]:
df.shape

(891, 15)

In [45]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
sibsp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
class,Third,First,Third,First,Third,Third,First,Third,Third,Second,...,Third,Third,Second,Third,Third,Second,First,Third,First,Third
who,man,woman,woman,woman,man,man,man,child,woman,child,...,man,woman,man,man,woman,man,woman,woman,man,man
adult_male,True,False,False,False,True,True,True,False,False,False,...,True,False,True,True,False,True,False,False,True,True
deck,NaN,C,NaN,C,NaN,NaN,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,C,NaN
embark_town,Southampton,Cherbourg,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,...,Southampton,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,Queenstown
alive,no,yes,yes,yes,no,no,no,no,yes,yes,...,no,no,no,no,no,no,yes,no,yes,no
alone,False,False,True,False,True,True,True,False,False,False,...,True,True,True,True,False,True,True,False,True,True

# Reverse order

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns

In [47]:
df=sns.load_dataset("titanic")

In [48]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [50]:
#reverse row order
df.loc[::-1].head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True

In [ ]:
#first are row denoted by single colon and second is no of cols
df.loc[:,::-1].head()

,alone,alive,embark_town,deck,adult_male,who,class,embarked,fare,parch,sibsp,age,sex,pclass,survived
0,False,no,Southampton,NaN,True,man,Third,S,7.2500,0,1,22.0,male,3,0
1,False,yes,Cherbourg,C,False,woman,First,C,71.2833,0,1,38.0,female,1,1
2,True,yes,Southampton,NaN,False,woman,Third,S,7.9250,0,0,26.0,female,3,1
3,False,yes,Southampton,C,False,woman,First,S,53.1000,0,1,35.0,female,1,1
4,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,35.0,male,3,0

In [52]:
df.loc[:,::-1].reset_index(drop=True)

,alone,alive,embark_town,deck,adult_male,who,class,embarked,fare,parch,sibsp,age,sex,pclass,survived
0,False,no,Southampton,NaN,True,man,Third,S,7.2500,0,1,22.00,male,3,0
1,False,yes,Cherbourg,C,False,woman,First,C,71.2833,0,1,38.00,female,1,1
2,True,yes,Southampton,NaN,False,woman,Third,S,7.9250,0,0,26.00,female,3,1
3,False,yes,Southampton,C,False,woman,First,S,53.1000,0,1,35.00,female,1,1
4,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,35.00,male,3,0
5,True,no,Queenstown,NaN,True,man,Third,Q,8.4583,0,0,NaN,male,3,0
6,True,no,Southampton,E,True,man,First,S,51.8625,0,0,54.00,male,1,0
7,False,no,Southampton,NaN,False,child,Third,S,21.0750,1,3,2.00,male,3,0
8,False,yes,Southampton,NaN,False,woman,Third,S,11.1333,2,0,27.00,female,3,1
9,False,yes,Cherbourg,NaN,False,child,Second,C,30.0708,0,1,14.00,female,2,1
10,False,yes,Southampton,G,False,child,Third,S,16.7000,1,1,4.00,female,3,1
11,True,yes,Southampton,C,False,woman,First,S,26.5500,0,0,58.00,female,1,1
12,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,20.00,male,3,0
13,False,no,Southampton,NaN,True,man,Third,S,31.2750,5,1,39.00,male,3,0
14,True,no,Southampton,NaN,False,child,Third,S,7.8542,0,0,14.00,female,3,0
15,True,yes,Southampton,NaN,False,woman,Second,S,16.0000,0,0,55.00,female,2,1
16,False,no,Queenstown,NaN,False,child,Third,Q,29.1250,1,4,2.00,male,3,0
17,True,yes,Southampton,NaN,True,man,Second,S,13.0000,0,0,NaN,male,2,1
18,False,no,Southampton,NaN,False,woman,Third,S,18.0000,0,1,31.00,female,3,0
19,True,yes,Cherbourg,NaN,False,woman,Third,C,7.2250,0,0,NaN,female,3,1
20,True,no,Southampton,NaN,True,man,Second,S,26.0000,0,0,35.00,male,2,0
21,True,yes,Southampton,D,True,man,Second,S,13.0000,0,0,34.00,male,2,1
22,True,yes,Queenstown,NaN,False,child,Third,Q,8.0292,0,0,15.00,female,3,1
23,True,yes,Southampton,A,True,man,First,S,35.5000,0,0,28.00,male,1,1
24,False,no,Southampton,NaN,False,child,Third,S,21.0750,1,3,8.00,female,3,0
25,False,yes,Southampton,NaN,False,woman,Third,S,31.3875,5,1,38.00,female,3,1
26,True,no,Cherbourg,NaN,True,man,Third,C,7.2250,0,0,NaN,male,3,0
27,False,no,Southampton,C,True,man,First,S,263.0000,2,3,19.00,male,1,0
28,True,yes,Queenstown,NaN,False,woman,Third,Q,7.8792,0,0,NaN,female,3,1
29,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,NaN,male,3,0
30,True,no,Cherbourg,NaN,True,man,First,C,27.7208,0,0,40.00,male,1,0
31,False,yes,Cherbourg,B,False,woman,First,C,146.5208,0,1,NaN,female,1,1
32,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7500,0,0,NaN,female,3,1
33,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,66.00,male,2,0
34,False,no,Cherbourg,NaN,True,man,First,C,82.1708,0,1,28.00,male,1,0
35,False,no,Southampton,NaN,True,man,First,S,52.0000,0,1,42.00,male,1,0
36,True,yes,Cherbourg,NaN,True,man,Third,C,7.2292,0,0,NaN,male,3,1
37,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,21.00,male,3,0
38,False,no,Southampton,NaN,False,woman,Third,S,18.0000,0,2,18.00,female,3,0
39,False,yes,Cherbourg,NaN,False,child,Third,C,11.2417,0,1,14.00,female,3,1
40,False,no,Southampton,NaN,False,woman,Third,S,9.4750,0,1,40.00,female,3,0
41,False,no,Southampton,NaN,False,woman,Second,S,21.0000,0,1,27.00,female,2,0
42,True,no,Cherbourg,NaN,True,man,Third,C,7.8958,0,0,NaN,male,3,0
43,False,yes,Cherbourg,NaN,False,child,Second,C,41.5792,2,1,3.00,female,2,1
44,True,yes,Queenstown,NaN,False,woman,Third,Q,7.8792,0,0,19.00,female,3,1
45,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,NaN,male,3,0
46,False,no,Queenstown,NaN,True,man,Third,Q,15.5000,0,1,NaN,male,3,0
47,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7500,0,0,NaN,female,3,1
48,False,no,Cherbourg,NaN,True,man,Third,C,21.6792,0,2,NaN,male,3,0
49,False,no,Southampton,NaN,False,woman,Third,S,17.8000,0,1,18.00,female,3,0
50,False,no,Southampton,NaN,False,child,Third,S,39.6875,1,4,7.00,male,3,0
51,True,no,Southampton,NaN,True,man,Third,S,7.8000,0,0,21.00,male,3,0
52,False,yes,Cherbourg,D,False,woman,First,C,76.7292,0,1,49.00,female,1,1
53,False,yes,Southampton,NaN,False,woman,Second,S,26.0000,0,1,29.00,female,2,1
54,False,no,Cherbourg,B,True,man,First,C,61.9792,1,0,65.00,male,1,0
55,True,yes,Southampton,C,True,man,First,S,35.5000,0,0,NaN,male,1,1
56,True,yes,Southampton,NaN,False,woman,Second,S,10.5000,0,0,21.00,female,2,1
57,True,no,Cherbourg,NaN,True,man,Third,C,7.2292,0,0,28.50,male,3,0
58,False,yes,Southampton,NaN,False,child,Second,S,27.7500,2,1,5.00,female,2,1
59,False,no,Southampton,NaN,False,child,Third,S,46.9000,2,5,11.00,male,3,0
60,True,no,Cherbourg,NaN,True,man,Third,C,7.2292,0,0,22.00,male,3,0
61,True,yes,NaN,B,False,woman,First,NaN,80.0000,0,0,38.00,female,1,1
62,False,no,Southampton,C,True,man,First,S,83.4750,0,1,45.00,male,1,0
63,False,no,Southampton,NaN,False,child,Third,S,27.9000,2,3,4.00,male,3,0
64,True,no,Cherbourg,NaN,True,man,First,C,27.7208,0,0,NaN,male,1,0
65,False,yes,Cherbourg,NaN,True,man,Third,C,15.2458,1,1,NaN,male,3,1
66,True,yes,Southampton,F,False,woman,Second,S,10.5000,0,0,29.00,female,2,1
67,True,no,Southampton,NaN,True,man,Third,S,8.1583,0,0,19.00,male,3,0
68,False,yes,Southampton,NaN,False,woman,Third,S,7.9250,2,4,17.00,female,3,1
69,False,no,Southampton,NaN,True,man,Third,S,8.6625,0,2,26.00,male,3,0
70,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,32.00,male,2,0
71,False,no,Southampton,NaN,False,woman,Third,S,46.9000,2,5,16.00,female,3,0
72,True,no,Southampton,NaN,True,man,Second,S,73.5000,0,0,21.00,male,2,0
73,False,no,Cherbourg,NaN,True,man,Third,C,14.4542,0,1,26.00,male,3,0
74,True,yes,Southampton,NaN,True,man,Third,S,56.4958,0,0,32.00,male,3,1
75,True,no,Southampton,F,True,man,Third,S,7.6500,0,0,25.00,male,3,0
76,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,NaN,male,3,0
77,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,NaN,male,3,0
78,False,yes,Southampton,NaN,False,child,Second,S,29.0000,2,0,0.83,male,2,1
79,True,yes,Southampton,NaN,False,woman,Third,S,12.4750,0,0,30.00,female,3,1
80,True,no,Southampton,NaN,True,man,Third,S,9.0000,0,0,22.00,male,3,0
81,True,yes,Southampton,NaN,True,man,Third,S,9.5000,0,0,29.00,male,3,1
82,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7875,0,0,NaN,female,3,1
83,True,no,Southampton,NaN,True,man,First,S,47.1000,0,0,28.00,male,1,0
84,True,yes,Southampton,NaN,False,woman,Second,S,10.5000,0,0,17.00,female,2,1
85,False,yes,Southampton,NaN,False,woman,Third,S,15.8500,0,3,33.00,female,3,1
86,False,no,Southampton,NaN,True,man,Third,S,34.3750,3,1,16.00,male,3,0
87,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,NaN,male,3,0
88,False,yes,Southampton,C,False,woman,First,S,263.0000,2,3,23.00,female,1,1
89,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,24.00,male,3,0
90,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,29.00,male,3,0
91,True,no,Southampton,NaN,True,man,Third,S,7.8542,0,0,20.00,male,3,0
92,False,no,Southampton,E,True,man,First,S,61.1750,0,1,46.00,male,1,0
93,False,no,Southampton,NaN,True,man,Third,S,20.5750,2,1,26.00,male,3,0
94,True,no,Southampton,NaN,True,man,Third,S,7.2500,0,0,59.00,male,3,0
95,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,NaN,male,3,0
96,True,no,Cherbourg,A,True,man,First,C,34.6542,0,0,71.00,male,1,0
97,False,yes,Cherbourg,D,True,man,First,C,63.3583,1,0,23.00,male,1,1
98,False,yes,Southampton,NaN,False,woman,Second,S,23.0000,1,0,34.00,female,2,1
99,False,no,Southampton,NaN,True,man,Second,S,26.0000,0,1,34.00,male,2,0
100,True,no,Southampton,NaN,False,woman,Third,S,7.8958,0,0,28.00,female,3,0
101,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,NaN,male,3,0
102,False,no,Southampton,D,True,man,First,S,77.2875,1,0,21.00,male,1,0
103,True,no,Southampton,NaN,True,man,Third,S,8.6542,0,0,33.00,male,3,0
104,False,no,Southampton,NaN,True,man,Third,S,7.9250,0,2,37.00,male,3,0
105,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,28.00,male,3,0
106,True,yes,Southampton,NaN,False,woman,Third,S,7.6500,0,0,21.00,female,3,1
107,True,yes,Southampton,NaN,True,man,Third,S,7.7750,0,0,NaN,male,3,1
108,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,38.00,male,3,0
109,False,yes,Queenstown,NaN,False,woman,Third,Q,24.1500,0,1,NaN,female,3,1
110,True,no,Southampton,C,True,man,First,S,52.0000,0,0,47.00,male,1,0
111,False,no,Cherbourg,NaN,False,child,Third,C,14.4542,0,1,14.50,female,3,0
112,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,22.00,male,3,0
113,False,no,Southampton,NaN,False,woman,Third,S,9.8250,0,1,20.00,female,3,0
114,True,no,Cherbourg,NaN,False,woman,Third,C,14.4583,0,0,17.00,female,3,0
115,True,no,Southampton,NaN,True,man,Third,S,7.9250,0,0,21.00,male,3,0
116,True,no,Queenstown,NaN,True,man,Third,Q,7.7500,0,0,70.50,male,3,0
117,False,no,Southampton,NaN,True,man,Second,S,21.0000,0,1,29.00,male,2,0
118,False,no,Cherbourg,B,True,man,First,C,247.5208,1,0,24.00,male,1,0
119,False,no,Southampton,NaN,False,child,Third,S,31.2750,2,4,2.00,female,3,0
120,False,no,Southampton,NaN,True,man,Second,S,73.5000,0,2,21.00,male,2,0
121,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,NaN,male,3,0
122,False,no,Cherbourg,NaN,True,man,Second,C,30.0708,0,1,32.50,male,2,0
123,True,yes,Southampton,E,False,woman,Second,S,13.0000,0,0,32.50,female,2,1
124,False,no,Southampton,D,True,man,First,S,77.2875,1,0,54.00,male,1,0
125,False,yes,Cherbourg,NaN,False,child,Third,C,11.2417,0,1,12.00,male,3,1
126,True,no,Queenstown,NaN,True,man,Third,Q,7.7500,0,0,NaN,male,3,0
127,True,yes,Southampton,NaN,True,man,Third,S,7.1417,0,0,24.00,male,3,1
128,False,yes,Cherbourg,F,False,woman,Third,C,22.3583,1,1,NaN,female,3,1
129,True,no,Southampton,NaN,True,man,Third,S,6.9750,0,0,45.00,male,3,0
130,True,no,Cherbourg,NaN,True,man,Third,C,7.8958,0,0,33.00,male,3,0
131,True,no,Southampton,NaN,True,man,Third,S,7.0500,0,0,20.00,male,3,0
132,False,no,Southampton,NaN,False,woman,Third,S,14.5000,0,1,47.00,female,3,0
133,False,yes,Southampton,NaN,False,woman,Second,S,26.0000,0,1,29.00,female,2,1
134,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,25.00,male,2,0
135,True,no,Cherbourg,NaN,True,man,Second,C,15.0458,0,0,23.00,male,2,0
136,False,yes,Southampton,D,False,woman,First,S,26.2833,2,0,19.00,female,1,1
137,False,no,Southampton,C,True,man,First,S,53.1000,0,1,37.00,male,1,0
138,True,no,Southampton,NaN,True,man,Third,S,9.2167,0,0,16.00,male,3,0
139,True,no,Cherbourg,B,True,man,First,C,79.2000,0,0,24.00,male,1,0
140,False,no,Cherbourg,NaN,False,woman,Third,C,15.2458,2,0,NaN,female,3,0
141,True,yes,Southampton,NaN,False,woman,Third,S,7.7500,0,0,22.00,female,3,1
142,False,yes,Southampton,NaN,False,woman,Third,S,15.8500,0,1,24.00,female,3,1
143,True,no,Queenstown,NaN,True,man,Third,Q,6.7500,0,0,19.00,male,3,0
144,True,no,Southampton,NaN,True,man,Second,S,11.5000,0,0,18.00,male,2,0
145,False,no,Southampton,NaN,True,man,Second,S,36.7500,1,1,19.00,male,2,0
146,True,yes,Southampton,NaN,True,man,Third,S,7.7958,0,0,27.00,male,3,1
147,False,no,Southampton,NaN,False,child,Third,S,34.3750,2,2,9.00,female,3,0
148,False,no,Southampton,F,True,man,Second,S,26.0000,2,0,36.50,male,2,0
149,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,42.00,male,2,0
150,True,no,Southampton,NaN,True,man,Second,S,12.5250,0,0,51.00,male,2,0
151,False,yes,Southampton,C,False,woman,First,S,66.6000,0,1,22.00,female,1,1
152,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,55.50,male,3,0
153,False,no,Southampton,NaN,True,man,Third,S,14.5000,2,0,40.50,male,3,0
154,True,no,Southampton,NaN,True,man,Third,S,7.3125,0,0,NaN,male,3,0
155,False,no,Cherbourg,NaN,True,man,First,C,61.3792,1,0,51.00,male,1,0
156,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7333,0,0,16.00,female,3,1
157,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,30.00,male,3,0
158,True,no,Southampton,NaN,True,man,Third,S,8.6625,0,0,NaN,male,3,0
159,False,no,Southampton,NaN,True,man,Third,S,69.5500,2,8,NaN,male,3,0
160,False,no,Southampton,NaN,True,man,Third,S,16.1000,1,0,44.00,male,3,0
161,True,yes,Southampton,NaN,False,woman,Second,S,15.7500,0,0,40.00,female,2,1
162,True,no,Southampton,NaN,True,man,Third,S,7.7750,0,0,26.00,male,3,0
163,True,no,Southampton,NaN,True,man,Third,S,8.6625,0,0,17.00,male,3,0
164,False,no,Southampton,NaN,False,child,Third,S,39.6875,1,4,1.00,male,3,0
165,False,yes,Southampton,NaN,False,child,Third,S,20.5250,2,0,9.00,male,3,1
166,False,yes,Southampton,E,False,woman,First,S,55.0000,1,0,NaN,female,1,1
167,False,no,Southampton,NaN,False,woman,Third,S,27.9000,4,1,45.00,female,3,0
168,True,no,Southampton,NaN,True,man,First,S,25.9250,0,0,NaN,male,1,0
169,True,no,Southampton,NaN,True,man,Third,S,56.4958,0,0,28.00,male,3,0
170,True,no,Southampton,B,True,man,First,S,33.5000,0,0,61.00,male,1,0
171,False,no,Queenstown,NaN,False,child,Third,Q,29.1250,1,4,4.00,male,3,0
172,False,yes,Southampton,NaN,False,child,Third,S,11.1333,1,1,1.00,female,3,1
173,True,no,Southampton,NaN,True,man,Third,S,7.9250,0,0,21.00,male,3,0
174,True,no,Cherbourg,A,True,man,First,C,30.6958,0,0,56.00,male,1,0
175,False,no,Southampton,NaN,True,man,Third,S,7.8542,1,1,18.00,male,3,0
176,False,no,Southampton,NaN,True,man,Third,S,25.4667,1,3,NaN,male,3,0
177,True,no,Cherbourg,C,False,woman,First,C,28.7125,0,0,50.00,female,1,0
178,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,30.00,male,2,0
179,True,no,Southampton,NaN,True,man,Third,S,0.0000,0,0,36.00,male,3,0
180,False,no,Southampton,NaN,False,woman,Third,S,69.5500,2,8,NaN,female,3,0
181,True,no,Cherbourg,NaN,True,man,Second,C,15.0500,0,0,NaN,male,2,0
182,False,no,Southampton,NaN,False,child,Third,S,31.3875,2,4,9.00,male,3,0
183,False,yes,Southampton,F,False,child,Second,S,39.0000,1,2,1.00,male,2,1
184,False,yes,Southampton,NaN,False,child,Third,S,22.0250,2,0,4.00,female,3,1
185,True,no,Southampton,A,True,man,First,S,50.0000,0,0,NaN,male,1,0
186,False,yes,Queenstown,NaN,False,woman,Third,Q,15.5000,0,1,NaN,female,3,1
187,True,yes,Southampton,NaN,True,man,First,S,26.5500,0,0,45.00,male,1,1
188,False,no,Queenstown,NaN,True,man,Third,Q,15.5000,1,1,40.00,male,3,0
189,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,36.00,male,3,0
190,True,yes,Southampton,NaN,False,woman,Second,S,13.0000,0,0,32.00,female,2,1
191,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,19.00,male,2,0
192,False,yes,Southampton,NaN,False,woman,Third,S,7.8542,0,1,19.00,female,3,1
193,False,yes,Southampton,F,False,child,Second,S,26.0000,1,1,3.00,male,2,1
194,True,yes,Cherbourg,B,False,woman,First,C,27.7208,0,0,44.00,female,1,1
195,True,yes,Cherbourg,B,False,woman,First,C,146.5208,0,0,58.00,female,1,1
196,True,no,Queenstown,NaN,True,man,Third,Q,7.7500,0,0,NaN,male,3,0
197,False,no,Southampton,NaN,True,man,Third,S,8.4042,1,0,42.00,male,3,0
198,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7500,0,0,NaN,female,3,1
199,True,no,Southampton,NaN,False,woman,Second,S,13.0000,0,0,24.00,female,2,0
200,True,no,Southampton,NaN,True,man,Third,S,9.5000,0,0,28.00,male,3,0
201,False,no,Southampton,NaN,True,man,Third,S,69.5500,2,8,NaN,male,3,0
202,True,no,Southampton,NaN,True,man,Third,S,6.4958,0,0,34.00,male,3,0
203,True,no,Cherbourg,NaN,True,man,Third,C,7.2250,0,0,45.50,male,3,0
204,True,yes,Southampton,NaN,True,man,Third,S,8.0500,0,0,18.00,male,3,1
205,False,no,Southampton,G,False,child,Third,S,10.4625,1,0,2.00,female,3,0
206,False,no,Southampton,NaN,True,man,Third,S,15.8500,0,1,32.00,male,3,0
207,True,yes,Cherbourg,NaN,True,man,Third,C,18.7875,0,0,26.00,male,3,1
208,True,yes,Queenstown,NaN,False,woman,Third,Q,7.7500,0,0,16.00,female,3,1
209,True,yes,Cherbourg,A,True,man,First,C,31.0000,0,0,40.00,male,1,1
210,True,no,Southampton,NaN,True,man,Third,S,7.0500,0,0,24.00,male,3,0
211,True,yes,Southampton,NaN,False,woman,Second,S,21.0000,0,0,35.00,female,2,1
212,True,no,Southampton,NaN,True,man,Third,S,7.2500,0,0,22.00,male,3,0
213,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,30.00,male,2,0
214,False,no,Queenstown,NaN,True,man,Third,Q,7.7500,0,1,NaN,male,3,0
215,False,yes,Cherbourg,D,False,woman,First,C,113.2750,0,1,31.00,female,1,1
216,True,yes,Southampton,NaN,False,woman,Third,S,7.9250,0,0,27.00,female,3,1
217,False,no,Southampton,NaN,True,man,Second,S,27.0000,0,1,42.00,male,2,0
218,True,yes,Cherbourg,D,False,woman,First,C,76.2917,0,0,32.00,female,1,1
219,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,30.00,male,2,0
220,True,yes,Southampton,NaN,True,man,Third,S,8.0500,0,0,16.00,male,3,1
221,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,27.00,male,2,0
222,True,no,Southampton,NaN,True,man,Third,S,8.0500,0,0,51.00,male,3,0
223,True,no,Southampton,NaN,True,man,Third,S,7.8958,0,0,NaN,male,3,0
224,False,yes,Southampton,C,True,man,First,S,90.0000,0,1,38.00,male,1,1
225,True,no,Southampton,NaN,True,man,Third,S,9.3500,0,0,22.00,male,3,0
226,True,yes,Southampton,NaN,True,man,Second,S,10.5000,0,0,19.00,male,2,1
227,True,no,Southampton,NaN,True,man,Third,S,7.2500,0,0,20.50,male,3,0
228,True,no,Southampton,NaN,True,man,Second,S,13.0000,0,0,18.00,male,2,0
229,False,no,Southampton,NaN,False,woman,Third,S,25.4667,1,3,NaN,female,3,0
230,False,yes,Southampton,C,False,woman,First,S,83.4750,0,1,35.00,female,1,1
231,True,no,Southampton,NaN,True,man,Third,S,7.7750,0,0,29.00,male,3,0
232,True,no,Southampton,NaN,True,man,Second,S,13.5000,0,0,59.00,male,2,0
233,False,yes,Southampton,NaN,False,child,Third,S,31.3875,2,4,5.00,female,3,1
234,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,24.00,male,2,0
235,True,no,Southampton,NaN,False,woman,Third,S,7.5500,0,0,NaN,female,3,0
236,False,no,Southampton,NaN,True,man,Second,S,26.0000,0,1,44.00,male,2,0
237,False,yes,Southampton,NaN,False,child,Second,S,26.2500,2,0,8.00,female,2,1
238,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,19.00,male,2,0
239,True,no,Southampton,NaN,True,man,Second,S,12.2750,0,0,33.00,male,2,0
240,False,no,Cherbourg,NaN,False,woman,Third,C,14.4542,0,1,NaN,female,3,0
241,False,yes,Queenstown,NaN,False,woman,Third,Q,15.5000,0,1,NaN,female,3,1
242,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,29.00,male,2,0
243,True,no,Southampton,NaN,True,man,Third,S,7.1250,0,0,22.00,male,3,0
244,True,no,Cherbourg,NaN,True,man,Third,C,7.2250,0,0,30.00,male,3,0
245,False,no,Queenstown,C,True,man,First,Q,90.0000,0,2,44.00,male,1,0
246,True,no,Southampton,NaN,False,woman,Third,S,7.7750,0,0,25.00,female,3,0
247,False,yes,Southampton,NaN,False,woman,Second,S,14.5000,2,0,24.00,female,2,1
248,False,yes,Southampton,D,True,man,First,S,52.5542,1,1,37.00,male,1,1
249,False,no,Southampton,NaN,True,man,Second,S,26.0000,0,1,54.00,male,2,0
250,True,no,Southampton,NaN,True,man,Third,S,7.2500,0,0,NaN,male,3,0
251,False,no,Southampton,G,False,woman,Third,S,10.4625,1,1,29.00,female,3,0
252,True,no,Southampton,C,True,man,First,S,26.5500,0,0,62.00,male,1,0
253,False,no,Southampton,NaN,True,man,Third,S,16.1000,0,1,30.00,male,3,0
254,False,no,Southampton,NaN,False,woman,Third,S,20.2125,2,0,41.00,female,3,0
255,False,yes,Cherbourg,NaN,False,woman,Third,C,15.2458,2,0,29.00,female,3,1
256,True,yes,Cherbourg,NaN,False,woman,First,C,79.2000,0,0,NaN,female,1,1
257,True,yes,Southampton,B,False,woman,First,S,86.5000,0,0,30.00,female,1,1
258,True,yes,Cherbourg,NaN,False,woman,First,C,512.3292,0,0,35.00,female,1,1
259,False,yes,Southampton,NaN,False,woman,Second,S,26.0000,1,0,50.00,female,2,1
260,True,no,Queenstown,NaN,True,man,Third,Q,7.7500,0,0,NaN,male,3,0
261,False,yes,Southampton,NaN,False,child,Third,S,31.3875,2,4,3.00,male,3,1
262,False,no,Southampton,E,True,man,First,S,79.6500,1,1,52.00,male,1,0
263,True,no,Southampton,B,True,man,First,S,0.0000,0,0,40.00,male,1,0
264,True,no,Queenstown,NaN,False,woman,Third,Q,7.7500,0,0,NaN,female,3,0
265,True,no,Southampton,NaN,True,man,Second,S,10.5000,0,0,36.00,male,2,0
266,False,no,Southampton,NaN,True,man,Third,S,39.6875,1,4,16.00,male,3,0
267,False,yes,Southampton,NaN,True,man,Third,S,7.7750,0,1,25.00,male,3,1
268,False,yes,Southampton,C,False,woman,First,S,153.4625,1,0,58.00,female,1,1
269,True,yes,Southampton,C,False,woman,First,S,135.6333,0,0,35.00,female,1,1
270,True,no,Southampton,NaN,True,man,First,S,31.0000,0,0,NaN,male,1,0
271,True,yes,Southampton,NaN,True,man,Third,S,0.0000,0,0,25.00,male,3,1
272,False,yes,Southampton,NaN,False,woman,Second,S,19.5000,1,0,41.00,female,2,1

In [53]:
df.select_dtypes(include=["number"])

     survived  pclass    age  sibsp  parch      fare
0           0       3  22.00      1      0    7.2500
1           1       1  38.00      1      0   71.2833
2           1       3  26.00      0      0    7.9250
3           1       1  35.00      1      0   53.1000
4           0       3  35.00      0      0    8.0500
5           0       3    NaN      0      0    8.4583
6           0       1  54.00      0      0   51.8625
7           0       3   2.00      3      1   21.0750
8           1       3  27.00      0      2   11.1333
9           1       2  14.00      1      0   30.0708
10          1       3   4.00      1      1   16.7000
11          1       1  58.00      0      0   26.5500
12          0       3  20.00      0      0    8.0500
13          0       3  39.00      1      5   31.2750
14          0       3  14.00      0      0    7.8542
15          1       2  55.00      0      0   16.0000
16          0       3   2.00      4      1   29.1250
17          1       2    NaN      0      0   13.0000
18          0       3  31.00      1      0   18.0000
19          1       3    NaN      0      0    7.2250
20          0       2  35.00      0      0   26.0000
21          1       2  34.00      0      0   13.0000
22          1       3  15.00      0      0    8.0292
23          1       1  28.00      0      0   35.5000
24          0       3   8.00      3      1   21.0750
25          1       3  38.00      1      5   31.3875
26          0       3    NaN      0      0    7.2250
27          0       1  19.00      3      2  263.0000
28          1       3    NaN      0      0    7.8792
29          0       3    NaN      0      0    7.8958
30          0       1  40.00      0      0   27.7208
31          1       1    NaN      1      0  146.5208
32          1       3    NaN      0      0    7.7500
33          0       2  66.00      0      0   10.5000
34          0       1  28.00      1      0   82.1708
35          0       1  42.00      1      0   52.0000
36          1       3    NaN      0      0    7.2292
37          0       3  21.00      0      0    8.0500
38          0       3  18.00      2      0   18.0000
39          1       3  14.00      1      0   11.2417
40          0       3  40.00      1      0    9.4750
41          0       2  27.00      1      0   21.0000
42          0       3    NaN      0      0    7.8958
43          1       2   3.00      1      2   41.5792
44          1       3  19.00      0      0    7.8792
45          0       3    NaN      0      0    8.0500
46          0       3    NaN      1      0   15.5000
47          1       3    NaN      0      0    7.7500
48          0       3    NaN      2      0   21.6792
49          0       3  18.00      1      0   17.8000
50          0       3   7.00      4      1   39.6875
51          0       3  21.00      0      0    7.8000
52          1       1  49.00      1      0   76.7292
53          1       2  29.00      1      0   26.0000
54          0       1  65.00      0      1   61.9792
55          1       1    NaN      0      0   35.5000
56          1       2  21.00      0      0   10.5000
57          0       3  28.50      0      0    7.2292
58          1       2   5.00      1      2   27.7500
59          0       3  11.00      5      2   46.9000
60          0       3  22.00      0      0    7.2292
61          1       1  38.00      0      0   80.0000
62          0       1  45.00      1      0   83.4750
63          0       3   4.00      3      2   27.9000
64          0       1    NaN      0      0   27.7208
65          1       3    NaN      1      1   15.2458
66          1       2  29.00      0      0   10.5000
67          0       3  19.00      0      0    8.1583
68          1       3  17.00      4      2    7.9250
69          0       3  26.00      2      0    8.6625
70          0       2  32.00      0      0   10.5000
71          0       3  16.00      5      2   46.9000
72          0       2  21.00      0      0   73.5000
73          0       3  26.00      1      0   14.4542
74          1       3  32.00      0      0   56.4958
75          0       3  25.00      0      0    7.6500
76          0       3    NaN      0      0    7.8958
77          0       3    NaN      0      0    8.0500
78          1       2   0.83      0      2   29.0000
79          1       3  30.00      0      0   12.4750
80          0       3  22.00      0      0    9.0000
81          1       3  29.00      0      0    9.5000
82          1       3    NaN      0      0    7.7875
83          0       1  28.00      0      0   47.1000
84          1       2  17.00      0      0   10.5000
85          1       3  33.00      3      0   15.8500
86          0       3  16.00      1      3   34.3750
87          0       3    NaN      0      0    8.0500
88          1       1  23.00      3      2  263.0000
89          0       3  24.00      0      0    8.0500
90          0       3  29.00      0      0    8.0500
91          0       3  20.00      0      0    7.8542
92          0       1  46.00      1      0   61.1750
93          0       3  26.00      1      2   20.5750
94          0       3  59.00      0      0    7.2500
95          0       3    NaN      0      0    8.0500
96          0       1  71.00      0      0   34.6542
97          1       1  23.00      0      1   63.3583
98          1       2  34.00      0      1   23.0000
99          0       2  34.00      1      0   26.0000
100         0       3  28.00      0      0    7.8958
101         0       3    NaN      0      0    7.8958
102         0       1  21.00      0      1   77.2875
103         0       3  33.00      0      0    8.6542
104         0       3  37.00      2      0    7.9250
105         0       3  28.00      0      0    7.8958
106         1       3  21.00      0      0    7.6500
107         1       3    NaN      0      0    7.7750
108         0       3  38.00      0      0    7.8958
109         1       3    NaN      1      0   24.1500
110         0       1  47.00      0      0   52.0000
111         0       3  14.50      1      0   14.4542
112         0       3  22.00      0      0    8.0500
113         0       3  20.00      1      0    9.8250
114         0       3  17.00      0      0   14.4583
115         0       3  21.00      0      0    7.9250
116         0       3  70.50      0      0    7.7500
117         0       2  29.00      1      0   21.0000
118         0       1  24.00      0      1  247.5208
119         0       3   2.00      4      2   31.2750
120         0       2  21.00      2      0   73.5000
121         0       3    NaN      0      0    8.0500
122         0       2  32.50      1      0   30.0708
123         1       2  32.50      0      0   13.0000
124         0       1  54.00      0      1   77.2875
125         1       3  12.00      1      0   11.2417
126         0       3    NaN      0      0    7.7500
127         1       3  24.00      0      0    7.1417
128         1       3    NaN      1      1   22.3583
129         0       3  45.00      0      0    6.9750
130         0       3  33.00      0      0    7.8958
131         0       3  20.00      0      0    7.0500
132         0       3  47.00      1      0   14.5000
133         1       2  29.00      1      0   26.0000
134         0       2  25.00      0      0   13.0000
135         0       2  23.00      0      0   15.0458
136         1       1  19.00      0      2   26.2833
137         0       1  37.00      1      0   53.1000
138         0       3  16.00      0      0    9.2167
139         0       1  24.00      0      0   79.2000
140         0       3    NaN      0      2   15.2458
141         1       3  22.00      0      0    7.7500
142         1       3  24.00      1      0   15.8500
143         0       3  19.00      0      0    6.7500
144         0       2  18.00      0      0   11.5000
145         0       2  19.00      1      1   36.7500
146         1       3  27.00      0      0    7.7958
147         0       3   9.00      2      2   34.3750
148         0       2  36.50      0      2   26.0000
149         0       2  42.00      0      0   13.0000
150         0       2  51.00      0      0   12.5250
151         1       1  22.00      1      0   66.6000
152         0       3  55.50      0      0    8.0500
153         0       3  40.50      0      2   14.5000
154         0       3    NaN      0      0    7.3125
155         0       1  51.00      0      1   61.3792
156         1       3  16.00      0      0    7.7333
157         0       3  30.00      0      0    8.0500
158         0       3    NaN      0      0    8.6625
159         0       3    NaN      8      2   69.5500
160         0       3  44.00      0      1   16.1000
161         1       2  40.00      0      0   15.7500
162         0       3  26.00      0      0    7.7750
163         0       3  17.00      0      0    8.6625
164         0       3   1.00      4      1   39.6875
165         1       3   9.00      0      2   20.5250
166         1       1    NaN      0      1   55.0000
167         0       3  45.00      1      4   27.9000
168         0       1    NaN      0      0   25.9250
169         0       3  28.00      0      0   56.4958
170         0       1  61.00      0      0   33.5000
171         0       3   4.00      4      1   29.1250
172         1       3   1.00      1      1   11.1333
173         0       3  21.00      0      0    7.9250
174         0       1  56.00      0      0   30.6958
175         0       3  18.00      1      1    7.8542
176         0       3    NaN      3      1   25.4667
177         0       1  50.00      0      0   28.7125
178         0       2  30.00      0      0   13.0000
179         0       3  36.00      0      0    0.0000
180         0       3    NaN      8      2   69.5500
181         0       2    NaN      0      0   15.0500
182         0       3   9.00      4      2   31.3875
183         1       2   1.00      2      1   39.0000
184         1       3   4.00      0      2   22.0250
185         0       1    NaN      0      0   50.0000
186         1       3    NaN      1      0   15.5000
187         1       1  45.00      0      0   26.5500
188         0       3  40.00      1      1   15.5000
189         0       3  36.00      0      0    7.8958
190         1       2  32.00      0      0   13.0000
191         0       2  19.00      0      0   13.0000
192         1       3  19.00      1      0    7.8542
193         1       2   3.00      1      1   26.0000
194         1       1  44.00      0      0   27.7208
195         1       1  58.00      0      0  146.5208
196         0       3    NaN      0      0    7.7500
197         0       3  42.00      0      1    8.4042
198         1       3    NaN      0      0    7.7500
199         0       2  24.00      0      0   13.0000
200         0       3  28.00      0      0    9.5000
201         0       3    NaN      8      2   69.5500
202         0       3  34.00      0      0    6.4958
203         0       3  45.50      0      0    7.2250
204         1       3  18.00      0      0    8.0500
205         0       3   2.00      0      1   10.4625
206         0       3  32.00      1      0   15.8500
207         1       3  26.00      0      0   18.7875
208         1       3  16.00      0      0    7.7500
209         1       1  40.00      0      0   31.0000
210         0       3  24.00      0      0    7.0500
211         1       2  35.00      0      0   21.0000
212         0       3  22.00      0      0    7.2500
213         0       2  30.00      0      0   13.0000
214         0       3    NaN      1      0    7.7500
215         1       1  31.00      1      0  113.2750
216         1       3  27.00      0      0    7.9250
217         0       2  42.00      1      0   27.0000
218         1       1  32.00      0      0   76.2917
219         0       2  30.00      0      0   10.5000
220         1       3  16.00      0      0    8.0500
221         0       2  27.00      0      0   13.0000
222         0       3  51.00      0      0    8.0500
223         0       3    NaN      0      0    7.8958
224         1       1  38.00      1      0   90.0000
225         0       3  22.00      0      0    9.3500
226         1       2  19.00      0      0   10.5000
227         0       3  20.50      0      0    7.2500
228         0       2  18.00      0      0   13.0000
229         0       3    NaN      3      1   25.4667
230         1       1  35.00      1      0   83.4750
231         0       3  29.00      0      0    7.7750
232         0       2  59.00      0      0   13.5000
233         1       3   5.00      4      2   31.3875
234         0       2  24.00      0      0   10.5000
235         0       3    NaN      0      0    7.5500
236         0       2  44.00      1      0   26.0000
237         1       2   8.00      0      2   26.2500
238         0       2  19.00      0      0   10.5000
239         0       2  33.00      0      0   12.2750
240         0       3    NaN      1      0   14.4542
241         1       3    NaN      1      0   15.5000
242         0       2  29.00      0      0   10.5000
243         0       3  22.00      0      0    7.1250
244         0       3  30.00      0      0    7.2250
245         0       1  44.00      2      0   90.0000
246         0       3  25.00      0      0    7.7750
247         1       2  24.00      0      2   14.5000
248         1       1  37.00      1      1   52.5542
249         0       2  54.00      1      0   26.0000
250         0       3    NaN      0      0    7.2500
251         0       3  29.00      1      1   10.4625
252         0       1  62.00      0      0   26.5500
253         0       3  30.00      1      0   16.1000
254         0       3  41.00      0      2   20.2125
255         1       3  29.00      0      2   15.2458
256         1       1    NaN      0      0   79.2000
257         1       1  30.00      0      0   86.5000
258         1       1  35.00      0      0  512.3292
259         1       2  50.00      0      1   26.0000
260         0       3    NaN      0      0    7.7500
261         1       3   3.00      4      2   31.3875
262         0       1  52.00      1      1   79.6500
263         0       1  40.00      0      0    0.0000
264         0       3    NaN      0      0    7.7500
265         0       2  36.00      0      0   10.5000
266         0       3  16.00      4      1   39.6875
267         1       3  25.00      1      0    7.7750
268         1       1  58.00      0      1  153.4625
269         1       1  35.00      0      0  135.6333
270         0       1    NaN      0      0   31.0000
271         1       3  25.00      0      0    0.0000
272         1       2  41.00      0      1   19.5000
273         0       1  37.00      0      1   29.7000
274         1       3    NaN      0      0    7.7500
275         1       1  63.00      1      0   77.9583
276         0       3  45.00      0      0    7.7500
277         0       2    NaN      0      0    0.0000
278         0       3   7.00      4      1   29.1250
279         1       3  35.00      1      1   20.2500
280         0       3  65.00      0      0    7.7500
281         0       3  28.00      0      0    7.8542
282         0       3  16.00      0      0    9.5000
283         1       3  19.00      0      0    8.0500
284         0       1    NaN      0      0   26.0000
285         0       3  33.00      0      0    8.6625
286         1       3  30.00      0      0    9.5000
287         0       3  22.00      0      0    7.8958
288         1       2  42.00      0      0   13.0000
289         1       3  22.00      0      0    7.7500
290         1       1  26.00      0      0   78.8500
291         1       1  19.00      1      0   91.0792
292         0       2  36.00      0      0   12.8750
293         0       3  24.00      0      0    8.8500
294         0       3  24.00      0      0    7.8958
295         0       1    NaN      0      0   27.7208
296         0       3  23.50      0      0    7.2292
297         0       1   2.00      1      2  151.5500
298         1       1    NaN      0      0   30.5000
299         1       1  50.00      0      1  247.5208
300         1       3    NaN      0      0    7.7500
301         1       3    NaN      2      0   23.2500
302         0       3  19.00      0      0    0.0000
303         1       2    NaN      0      0   12.3500
304         0       3    NaN      0      0    8.0500
305         1       1   0.92      1      2  151.5500
306         1       1    NaN      0      0  110.8833
307         1       1  17.00      1      0  108.9000
308         0       2  30.00      1      0   24.0000
309         1       1  30.00      0      0   56.9292
310         1       1  24.00      0      0   83.1583
311         1       1  18.00      2      2  262.3750
312         0       2  26.00      1      1   26.0000
313         0       3  28.00      0      0    7.8958
314         0       2  43.00      1      1   26.2500
315         1       3  26.00      0      0    7.8542
316         1       2  24.00      1      0   26.0000
317         0       2  54.00      0      0   14.0000
318         1       1  31.00      0      2  164.8667
319         1       1  40.00      1      1  134.5000
320         0       3  22.00      0      0    7.2500
321         0       3  27.00      0      0    7.8958
322         1       2  30.00      0      0   12.3500
323         1       2  22.00      1      1   29.0000
324         0       3    NaN      8      2   69.5500
325         1       1  36.00      0      0  135.6333
326         0       3  61.00      0      0    6.2375
327         1       2  36.00      0      0   13.0000
328         1       3  31.00      1      1   20.5250
329         1       1  16.00      0      1   57.9792
330         1       3    NaN      2      0   23.2500
331         0       1  45.50      0      0   28.5000
332         0       1  38.00      0      1  153.4625
333         0       3  16.00      2      0   18.0000
334         1       1    NaN      1      0  133.6500
335         0       3    NaN      0      0    7.8958
336         0       1  29.00      1      0   66.6000
337         1       1  41.00      0      0  134.5000
338         1       3  45.00      0      0    8.0500
339         0       1  45.00      0      0   35.5000
340         1       2   2.00      1      1   26.0000
341         1       1  24.00      3      2  263.0000
342         0       2  28.00      0      0   13.0000
343         0       2  25.00      0      0   13.0000
344         0       2  36.00      0      0   13.0000
345         1       2  24.00      0      0   13.0000
346         1       2  40.00      0      0   13.0000
347         1       3    NaN      1      0   16.1000
348         1       3   3.00      1      1   15.9000
349         0       3  42.00      0      0    8.6625
350         0       3  23.00      0      0    9.2250
351         0       1    NaN      0      0   35.0000
352         0       3  15.00      1      1    7.2292
353         0       3  25.00      1      0   17.8000
354         0       3    NaN      0      0    7.2250
355         0       3  28.00      0      0    9.5000
356         1       1  22.00      0      1   55.0000
357         0       2  38.00      0      0   13.0000
358         1       3    NaN      0      0    7.8792
359         1       3    NaN      0      0    7.8792
360         0       3  40.00      1      4   27.9000
361         0       2  29.00      1      0   27.7208
362         0       3  45.00      0      1   14.4542
363         0       3  35.00      0      0    7.0500
364         0       3    NaN      1      0   15.5000
365         0       3  30.00      0      0    7.2500
366         1       1  60.00      1      0   75.2500
367         1       3    NaN      0      0    7.2292
368         1       3    NaN      0      0    7.7500
369         1       1  24.00      0      0   69.3000
370         1       1  25.00      1      0   55.4417
371         0       3  18.00      1      0    6.4958
372         0       3  19.00      0      0    8.0500
373         0       1  22.00      0      0  135.6333
374         0       3   3.00      3      1   21.0750
375         1       1    NaN      1      0   82.1708

In [54]:
df.select_dtypes(include=["number"]).head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500